html, body, div, body {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: normal 1em Lucida Sans Unicode,Lucida Grande,Verdana,Tahoma,Arial,Sans-serif; 
}

a {
	color: #81AFFB;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid #81AFFB;
}

a:visited {
	color: #81AFFB;
}


#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: black;
	display: none;
}
   
#boxes .window {
	position:absolute;
	width:500px;
	height:200px;
	z-index:9999; 
	padding:20px;
	display:none;
}



#top-header {
	width: 100%;
	float: left;
	background-color: #81AFFB;
}

#options-screen {
	position:relative;
	margin:0 auto;
	padding: 0 10px;
}

#left {
	float: left;
	width: 350px;
}

#left p {
	font-size: 1.5em;
	margin: .2em;
	color: white;
	font-weight: bold;
}

#left small {
	color: white;
	
}

#right {
	float: right;
	margin: 15px 15px 0;
	color: white;
}



#twitter-info figure { 
	float: left;
	margin: 25px 5px 200px 0;
	padding: 20px;
}

#twitter-info image { 
	float: left;
	margin: 5px;
	padding: 20px;
}

#twitter-info .name { 
	font-size: 2em;
	color: #81AFFB;
}

#twitter-info .info { 
	font-style: italic;
	color: gray;
}

#twitter-info .stats { 
	color: white;
}

.circle:hover { opacity : 1; }
.circle:active { opacity : 1; }