body {
	margin: 0;
	padding: 0;
	font: normal 1em Lucida Sans Unicode,Lucida Grande,Verdana,Tahoma,Arial,Sans-serif;
}

button {
	position: absolute;
	right: 40px; 
}

a {
	color: #81AFFB;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid #81AFFB;
}

a:visited {
	color: #81AFFB;
}


#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: black;
	display: none;
}
   
#boxes .window {
	position:absolute;
	width:500px;
	height:200px;
	z-index:9999; 
	padding:20px;
	display:none;
}

#options {
	background-color: #81AFFB;
	border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
	position: absolute;
	right: 40px;
	height: 30px;
	width: 200px;		
}

#options p {
	text-align: center;
	font-size: 18px;
	color: white;
	position: absolute;
	top: -20px;
	right: 65px;
}

#options-screen {
	width: 250px;
	display: none;
	background-color: #81AFFB;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	position: relative;
	right: 40px;
	top: 40px;
}

#twitter-info figure { 
	float: left;
	margin: 25px 5px 200px 0;
	padding: 20px;
}

#twitter-info image { 
	float: left;
	margin: 5px;
	padding: 20px;
}

#twitter-info .name { 
	font-size: 2em;
	color: #81AFFB;
}

#twitter-info .info { 
	font-style: italic;
	color: gray;
}

#twitter-info .stats { 
	color: white;
}

.circle:hover { opacity : 1; }
.circle:active { opacity : 1; }